<div data-page="enjoyo2odetail_next" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="enjoyo2odetail.html" class="back link">
          <i class="icon icon-back"></i><span>返回</span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="content-block-title">
        <span>有理数</span>
    </div>
    <div class="content-block">
      <p>1)正数的绝对值是本身；负数的绝对值是它的相反数；0的绝对值是0.  反之，绝对值等于本身的数必然为正数和0；绝对值为它的相反数的数为负数和0；</p>
        <p>（2) 绝对值非负：正数和负数的绝对值都为正数；0的绝对值为0，0的绝对值最小;</p>
        <p>（3) 0的绝对值考点：  如果一个数的绝对值为0，那么这个数必然为0; 如果一个式子的绝对值为0，那么这个式子必然为0； 如果两个式子的绝对值之和为0，那么这两个式子同时为0； </p>
        <p>（4) 绝对值为某正数的数有两个，这两个数互为相反数；  所以当绝对值确定时，数并不能确定，而是一正一负都有可能。</p>
        <p>（5) 如果一个数与它的绝对值和为0，那么这个数为负数或0 </p>
        <p>（6) 比较大小：</p>
        <p class="second"> a) 绝对值法：两个正数，绝对值大的大；两个负数，绝对值大的小；正数与负数，正数大于负数。</p>
        <p class="second">b) 数轴法：在数轴上表示（想象）出两个数的位置，右边> 左边。</p>
        <p>（7）一个数由符号和绝对值两部分组成，这两部分确定了，这个数就确定了。</p>
    </div>
  </div>

</div>
