<div data-page="enjoyo2odetail" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="enjoyo2o.html" class="back link">
          <i class="icon icon-back"></i><span>返回</span>
        </a>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="content-block-title detailcaption">

    </div>
    <div class="list-chapter">
      <div class="chapter catalog">
        <span>章节目录</span>
      </div>
      <div class="chapter">
        <span>第1章</span> <span><a href="enjoyo2odetail_next.html?chapter=rational">有理数</a></span>
      </div>
      <div class="chapter">
        <span>第2章</span> <span><a href="#">整式的加减</a></span>
      </div>
      <div class="chapter">
        <span>第3章</span> <span><a href="#">一元一次方程</a></span>
      </div>
      <div class="chapter">
        <span>第4章</span> <span><a href="#">图形认识初步</a></span>
      </div>
      <div class="chapter">
        <span>第5章</span> <span><a href="#">相交线与平行线</a></span>
      </div>
      <div class="chapter">
        <span>第6章</span> <span><a href="#">平角直角坐标系</a></span>
      </div>
      <div class="chapter">
        <span>第7章</span> <span><a href="#">三角形</a></span>
      </div>
      <div class="chapter">
        <span>第8章</span> <span><a href="#">二元一次方程组</a></span>
      </div>
    </div>


  </div>
</div>
