<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <title>EnjoyO2O</title>
  <link rel="stylesheet" href="../static/css/framework7.ios.min.css">
  <link rel="stylesheet" href="../static/css/framework7.ios.colors.min.css">
  <link rel="stylesheet" href="../static/css/enjoyo2o.css">
</head>
<body>
  <!-- Status bar overlay for full screen mode (PhoneGap) -->
  <div class="statusbar-overlay"></div>
  <!-- Views -->
  <div class="views">
    <!-- Your main view, should have "view-main" class -->
    <div class="view view-main">
      <div class="pages navbar-through toolbar-through">
        <div data-page="enjoyo2o" class="page no-navbar">
          <div class="page-content">
            <!-- 横幅图片 -->
            <div class="enjoyo2o-pic">
            </div>
            <div class="content-block-title">
              <p>初中数学</p>
            </div>

            <div class="row">
              <div class="col-50 seven1">
                <a class="button button-big" href='enjoyo2odetail.html?course=seven1'>七年级上</a>
              </div>

              <div class="col-50 seven2">
                <a class="button button-big" href='enjoyo2odetail.html?course=seven2'>七年级下</a>
              </div>
            </div>

            <div class="row">
              <div class="col-50 eight1">
                <a class="button button-big" href='enjoyo2odetail.html?course=eight1'>八年级上</a>
              </div>

              <div class="col-50 eight2">
                <a class="button button-big" href='enjoyo2odetail.html?course=eight2'>八年级下</a>
              </div>
            </div>

            <div class="row">
              <div class="col-50 nine1">
                <a class="button button-big" href='enjoyo2odetail.html?course=nine1'>九年级上</a>
              </div>

              <div class="col-50 nine2">
                <a class="button button-big" href='enjoyo2odetail.html?course=nine2'>九年级下</a>
              </div>
            </div>

            <!-- 兴趣海洋 -->
            <div class="content-block-title">
              <p>兴趣海洋</p>
            </div>

            <div class="row">
              <div class="col-50 eng">
                <a class="button button-big" href='enjoyo2odetail.html?course=eng'>英语口语</a>
              </div>

              <div class="col-50 lecture">
                <a class="button button-big" href='enjoyo2odetail.html?course=lecture'>百家讲堂</a>
              </div>
            </div>

            <div class="row">
              <div class="col-50 weiqi">
                <a class="button button-big" href='enjoyo2odetail.html?course=weiqi'>围棋课堂</a>
              </div>

              <div class="col-50 dance">
                <a class="button button-big" href='enjoyo2odetail.html?course=dance'>舞蹈课堂</a>
              </div>
            </div>

            <div class="row">
              <div class="col-50 calligraphy">
                <a class="button button-big" href='enjoyo2odetail.html?course=calligraphy'>书法课堂</a>
              </div>

              <div class="col-50 music">
                <a class="button button-big" href='enjoyo2odetail.html?course=music'>音乐课堂</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript" src="../static/js/framework7.min.js"></script>
  <script type="text/javascript" src="../static/js/enjoyo2o.js"></script>
</body>
</html>
