<div data-page="error_set" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="index.html" class="back link">
          <i class="icon icon-back"></i><span>返回</span>
        </a>
      </div>
    </div>
  </div>

  <div class="page-content">
    <div class="list-block timequery">
      <ul>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title label">开始时间</div>
            <div class="item-input">
              <input type="text" name="start_time" readonly id='calendar-start' placeholder="start" />
            </div>
          </div>
        </li>
        <li class="item-content">
          <div class="item-inner">
            <div class="item-title label">结束时间</div>
            <div class="item-input">
              <input type="text" name="end_time" readonly id='calendar-end' placeholder="end" />
            </div>
          </div>
        </li>
      </ul>
    </div>
    <div class="list-block timequery">
      <div class="list-block-label">
        <a href="#" class="item-link list-button" id='query'>查询</a>
      </div>
    </div>

    <!-- 错题 -->
    <div class="content-block errorblock">



    </div>
  </div>
