<div data-page="leveldetail" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="resource.html" class="back link leveldetailback">
          <i class="icon icon-back"></i><span>返回</span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="content-block-title caption">
    </div>
    <div class="content-block">

      <video id="anotherplayer" class="video-js">
      <!-- <source src="../static/video/8gougu.mp4" type="video/mp4"></source> -->
      <!-- <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
      <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source> -->

      <p class="vjs-no-js">
        观看请启用javascript，并考虑将浏览器升级到最新版以
        <a href="http://videojs.com/html5-video-support/" target="_blank">
          支持 HTML5 video
        </a>
      </p>
    </video>


    </div>
    <div class="content-block-title">
      评论区
    </div>

    <!-- <div class="list-block inset">
        <ul>
            <li class="item-content">{{review}}
                <p style="float:right;font-size:.7em;">{{review_name}}</p>
                <p style="float:right;font-size:.7em;">{{time}}</p>
            </li>
        </ul>
    </div> -->

    <ul class="edit">
      <li class='text'>
        <div><textarea name='comment' rows='8' placeholder="有想法？"></textarea></div>
        <div><a href='#' class="button">发表</a></div>
      </li>
    </ul>

    <div class="content-block-title comment">
      <a href='#' class="button">添加评论</a>
    </div>
  </div>
</div>
