<div data-page="olexam" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="index.html" class="back link">
          <i class="icon icon-back questionback"></i><span>返回</span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <div class="content-block-title">
      <div class="row">
        <span id='count'>本次测试：总计20道题</span>
        <span class="label">时间(分钟)：</span>
        <span class="time">60</span>

      </div>
      <a href="#" class="button" id='start'>开始测试</a>
    </div>
    <!-- 考题区 -->
    <div class="content-block examblock">
      <form id="exam-form" class="store-data">

        <!-- <div>
          <p class="question"><span>1</span><span>.</span>中国拥有几千年历史</p>
        </div>
        <div class="candidate">
          <input type="radio" name="his" value="2000">
          <span>2000</span>
          <input type="radio" name="his" value="3000">
          <span>3000</span>
          <input type="radio" name="his" value="4000">
          <span>4000</span>
          <input type="radio" name="his" value="5000">
          <span>5000</span>
        </div>

        <div>
          <p class="question"><span>2</span><span>.</span>计算等式结果</p>
        </div>
        <div class="candidate">
          <input type="radio" name="ma" value="1">
          <span>1</span>
          <input type="radio" name="ma" value="2">
          <span>2</span>
          <input type="radio" name="ma" value="3">
          <span>3</span>
          <input type="radio" name="ma" value="4">
          <span>4</span>
        </div> -->
      </form>
      <div class="submitarea">
        <a href="#" class="button" id='submit'>提交</a>
      </div>
    </div>
    <!-- 考题区 结束-->
  </div>
</div>
