<div data-page="resource" class="page">
  <div class="navbar">
    <div class="navbar-inner">
      <div class="left">
        <a href="index.html" class="back link">
          <i class="icon icon-back"></i><span>返回</span>
        </a>
      </div>
    </div>
  </div>
  <div class="page-content">
    <table class="hardtitle">
      <tr>
        <td>
          <p>选择课程难度:</p>
          <p>我们希望为您提供个性化学习</p>
        </td>
      </tr>
      <tr>
        <td>
          <div class="basic round">
            <p><a href="leveldetail.html?level=basic&id=1">基础课程</a> </p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="strengthen round">
            <p><a href="leveldetail.html?level=strengthen&id=2">巩固课程</a></p>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <div class="improvement round">
            <p><a href="leveldetail.html?level=improvement&id=3">提高课程</a></p>
          </div>
        </td>
      </tr>
    </table>
  </div>
</div>
