<div data-page="signup" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="index.html" class="back link">
                    <i class="icon icon-back"></i><span>返回</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <div class="list-block">
            <ul>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <i class="icon icon-form-name"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title label">
                                姓名
                            </div>
                            <div class="item-input">
                                <input type="text" placeholder="你的姓名" id='username'>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="item-content">
                        <div class="item-media">
                            <i class="icon icon-form-password"></i>
                        </div>
                        <div class="item-inner">
                            <div class="item-title label">
                                密码
                            </div>
                            <div class="item-input">
                                <input type="password" placeholder="你的密码" id='password'>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="list-block">
            <div class="list-block-label">
                <a href="#" class="item-link list-button" id='register'>注册</a>
            </div>
        </div>
    </div>
</div>
