<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>test</title>
  </head>
  <body>
    name:<input type="text" name="name" value="" class="name">
    pasword:<input type="text" name="name" value="">
    <a href="#" class="submit">submit</a>



    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
    <link rel="stylesheet" href="../static/css/framework7.ios.min.css">
    <link rel="stylesheet" href="../static/css/framework7.ios.colors.min.css">
    <script type="text/javascript" src="test.js"></script>
  </body>
</html>
