
<div data-page="videodetail" class="page">
    <div class="navbar">
        <div class="navbar-inner">
            <div class="left">
                <a href="index.html" class="back link videodetailback">
                    <i class="icon icon-back"></i><span>返回</span>
                </a>
            </div>
        </div>
    </div>
    <div class="page-content">
        <!-- js控制视频标题名 -->
        <div class="content-block-title">

        </div>
        <div class="content-block">
            <video id="myplayer" class="video-js">
            <!-- <source src="../static/video/8gougu.mp4" type="video/mp4"></source> -->
            <!-- <source src="//vjs.zencdn.net/v/oceans.webm" type="video/webm"></source>
            <source src="//vjs.zencdn.net/v/oceans.ogv" type="video/ogg"></source> -->

            <p class="vjs-no-js">
              观看请启用javascript，并考虑将浏览器升级到最新版以
              <a href="http://videojs.com/html5-video-support/" target="_blank">
                支持 HTML5 video
              </a>
            </p>
          </video>
        </div>
    </div>
</div>
